---
import Globe from "../assets/globe.png";

---

<div id="about" class="mx-auto w-fit max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="flex items-center justify-center text-4xl">
    <span class="text-bg text-center font-light"
      >About <span class="text-radGradient font-semibold">Us</span></span
    >
  </div>

  <div
    class="mt-[50px] flex flex-col gap-8 md:flex-row-reverse justify-end lg:gap-[100px]"
  >
    <article class="text-base text-bg md:max-w-[40ch] text-justify px-10 lg:px-0">
      <p class="pb-2">
        Konect U was founded by us because we encountered challenges in the
        university application process firsthand. Motivated by our experiences,
        we realized how valuable alumni mentorship could be.
      </p>
      <p class="pb-2">
        Therefore we as founders leveraged our backgrounds in technology and
        education to create a platform that connects students with alumni of
        international universities as mentors.
      </p>
      <p>
        The mission is to increase transparency in global education and empower
        students to achieve their academic aspirations abroad through
        personalized mentor relationships.
      </p>
    </article>
    <div class="shrink-0">
      <img alt="" src={Globe.src} class="md:max-w-sm" />
    </div>
  </div>
</div>
