---
// Define the component props
export let radiusStart = 100;
---

<div
  class="absolute left-0 w-full h-full overflow-hidden opacity-10 z-[-1]"
>
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  >
    <div
      class={`rounded-full border-2 border-white`}
      style={`width: ${radiusStart + 200}px; height: ${radiusStart + 200}px;`}
    >
    </div>
  </div>
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  >
    <div
      class={`rounded-full border-2 border-white`}
      style={`width: ${radiusStart + 400}px; height: ${radiusStart + 400}px;`}
    >
    </div>
  </div>
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  >
    <div
      class={`rounded-full border-2 border-white`}
      style={`width: ${radiusStart + 600}px; height: ${radiusStart + 600}px;`}
    >
    </div>
  </div>
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  >
    <div
      class={`rounded-full border-2 border-white`}
      style={`width: ${radiusStart + 800}px; height: ${radiusStart + 800}px;`}
    >
    </div>
  </div>
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  >
    <div
      class={`rounded-full border-2 border-white`}
      style={`width: ${radiusStart + 1000}px; height: ${radiusStart + 1000}px;`}
    >
    </div>
  </div>
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  >
    <div
      class={`rounded-full border-2 border-white`}
      style={`width: ${radiusStart + 1200}px; height: ${radiusStart + 1200}px;`}
    >
    </div>
  </div>
</div>

