---
const { content, name, title} = Astro.props;
import quotes from "../assets/quotes.svg";
---

<div
  class="flex justify-between flex-col px-10 py-12 rounded-[20px] max-w-[370px] max-h-[500px] md:mr-10 sm:mr-5 mr-0 my-5 feedback-card bg-bg bg-opacity-10"
>
  <img
    src={quotes.src}
    alt="double_quotes"
    class="w-[42.6px] h-[27.6px] object-contain"
  />
  <p
    class="font-normal font-sm leading-[25px] text-bg my-10"
  >
    {content}
  </p>

  <div class="flex flex-row">
    <div class="flex flex-col">
      <h4 class="font-semibold font-base text-[20px] leading-[32px] text-bg">
        {name}
      </h4>
      <p class="font-normal font-sm text-[16px] leading-[24px] text-dimWhite text-bg opacity-80">
        {title}
      </p>
    </div>
  </div>
</div>
