---
import Logo from "../assets/nalanda.png";
---

<div class="flex flex-col items-center justify-center p-10">
  <img class="w-auto h-[80px]" src={Logo.src} alt="logo" />
  <div class="flex flex-col md:flex-row items-center justify-center mb-[-20px]">
    <span class="text-sm text-bg text-center"
      >Copyright &copy; 2023 <a href="/">Nalanda - Konect U</a> |
    </span>
    <span class="text-sm text-bg text-center pl-2"
      >Designed & Developed by <a href="https://jessjohn.tech">Jess John</a>
    </span>
  </div>
</div>
