---
import Tab from '../assets/tab.png'
import Demo from '../assets/demo.mp4'
---

<div class="flex items-center justify-center pt-10 text-4xl">
  <span class="text-bg text-center font-light"
    >Introducing <span class="text-radGradient font-semibold">Nalanda</span
    ></span
  >
</div>
<div class="flex flex-col items-center">
  <p
    class="text-base text-bg w-[300px] sm:w-[500px] md:w-[600px] lg:w-[900px] xl:w-[1100px] text-center pt-6 leading-7 xl:leading-8"
  >
    Introducing Nalanda, our state-of-the-art AI model designed for unparalleled
    efficiency, proficiency, and scalability. Nalanda seamlessly integrates into
    your workflow, optimizing performance and delivering precise results.
    Whether you're managing big data or automating complex tasks, Nalanda is
    engineered to exceed expectations and drive innovation. Elevate your
    operations with Nalanda, the ultimate solution for modern AI needs.
  </p>
</div>

<div class="relative flex justify-center items-center w-full h-auto">
  <div class="relative w-[1900px] h-[800px]">
    <img src={Tab.src} class="w-full h-full" alt="">
    <video id="demoVideo" src={Demo} class="absolute top-[11.67%] left-[16.5%] w-[67%] h-[75%] object-cover" autoplay muted loop></video>
  </div>
</div>
