---
import Agent from "../assets/ai_agent.png";
import Chatbot from "../assets/ai_chatbot.png";
---

<div id="services" class="flex items-center justify-center pt-[50px] text-4xl">
  <span class="text-bg text-center font-light"
    >Our <span class="text-radGradient font-semibold">Services</span></span
  >
</div>
<div
  class="grid grid-cols-1 gap-[110px] lg:grid-cols-2 lg:gap-0 pt-[60px] pb-10 lg:pl-[300px] lg:pr-[300px]"
>
  <div
    class="my-[-30px] md:my-[-1px] mx-auto max-w-80 flex flex-col justify-center items-center rounded-xl text-txt text-center shadow-md bg-bg bg-opacity-20"
  >
    <img
      class="relative m-4 overflow-hidden object-cover w-[280px] h-66 mb-[-5px] rounded-sm"
      alt="image"
      src={Agent.src}
    />
    <div class="p-6">
      <p class="mb-4 text-xl font-medium leading-snug tracking-wide text-bg">
        AI Agent
      </p>
      <p class="mb-6 text-sm font-light leading-snug tracking-wide text-bg">
        Revolutionize Your Application Process with AI-Driven Agent
      </p>
      <button
        class="bg-radgradient text-sm font-medium py-2 px-5 rounded-full border-none text-bg cursor-pointer transition duration-300 ease hover:bg-[#40444b]"
      >
        Read More
      </button>
    </div>
  </div>
  <div
    class="my-[-30px] md:my-[-1px] mx-auto max-w-80 flex flex-col justify-center items-center rounded-xl text-txt text-center shadow-md bg-bg bg-opacity-20"
  >
    <img
      class="relative m-4 overflow-hidden object-cover w-[280px] h-66 mb-[-5px] rounded-sm"
      alt="image"
      src={Chatbot.src}
    />
    <div class="p-6">
      <p class="mb-4 text-xl font-medium leading-snug tracking-wide text-bg">
        AI Chatbot
      </p>
      <p class="mb-6 text-sm font-light leading-snug tracking-wide text-bg">
        Revolutionize Your Application Process with AI-Driven Chatbot
      </p>
      <button
        class="bg-radgradient text-sm font-medium py-2 px-5 rounded-full border-none text-bg cursor-pointer transition duration-300 ease hover:bg-[#40444b]"
        ><a href="/chat">Try Now!</a>
      </button>
    </div>
  </div>
</div>
